# Docs for the Azure Web Apps Deploy action: https://github.com/Azure/webapps-deploy
# More GitHub Actions for Azure: https://github.com/Azure/actions

name: Build and deploy to Azure

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up .NET Core
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: "8.0.x"

      - name: Restore solution
        run: dotnet restore Blog/Blog.sln

      - name: Generate blog content
        run: dotnet run --project Blog/Blog.Generator/Blog.Generator.csproj --configuration Release

      - name: Build with dotnet
        run: dotnet build Blog/Blog.Web/Blog.Web.csproj --configuration Release

      - name: dotnet publish
        run: dotnet publish Blog/Blog.Web/Blog.Web.csproj -c Release -o ./publish

      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v2
        with:
          app-name: "wjcustode-blog"
          slot-name: "production"
          publish-profile: ${{ secrets.AzureAppService_PublishProfile_27c3af1d074549ab838e8aafcba03988 }}
          package: ./publish
